.cop-selection-container {
  display: flex;
  overflow: hidden; 
}

.cop-container-wrapper {
  flex: 1;
  transition: transform 0.5s ease; 
}

.cop-container-wrapper.active {
  opacity: 1;
}
.cop-container-wrapper.inactive {
  opacity: 0;
}
.result-container {
  display: flex;
  align-content: center;
  justify-content: center;
}